.delete{
    display: none;
  }
  .article .comments .comment  .actions:hover .delete,.article .comments .comment  .actions:hover .delete i{
    color: red;
     font-size: .875em;
    display: inline-block;
    
  }
  .article .comments .comment  .actions:hover i.style {
  
    font-size: .875em;
    /* height: 14.7px; */
    /* vertical-align:middle */
    line-height: 0;
  }
  .article .comments .comment  .content .actions:hover span{
    cursor:pointer;
  }
  .article .comments .comment  .content .actions{
    position: relative; 
    /* @@@ */
    /* background-color: rebeccapurple; */
    z-index: 10;
  }
  /* .article .comments .comment  .content .actions span:nth-child(1){
    width: 100%;
    display: inline-block;
  } */
  .article .comments .comment  .actions:hover .delete{
    position: absolute;
    right:30px
  }
  .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.input-wrapper {
  padding: 10px;
}

.input-wrapper .btn-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}

.input-wrapper .btn-control .cancel {
  font-size: 16px;
  color: #606266;
  margin-right: 20px;
  cursor: pointer;
}

.input-wrapper .btn-control .cancel:hover {
  color: #333;
}

.input-wrapper .btn-control .confirm {
  font-size: 16px;
}
:root{
  --newCommunityTheme-line: #EDEFF1;
  --newCommunityTheme-button:#0f74bc;
  --newCommunityTheme-linkText: #0f74bc;
}
.comments {
  position: relative;
}
/* 来自reddit */
.threadline{
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    border-right: 2px solid var(--newCommunityTheme-line);
    display: block;
    height: 100%;
    width: 50%;
}
._36AIN2ppxy_z-XSDxTvYj5.fatherline{
    word-break: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-left: 5px;
    vertical-align: top;
    width: 16px;
}
._1DooEIX-1Nj5rweIc5cw_E.grandpaline{
    word-break: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    
    /* @@@ */
    /* margin: -1.5em 0 -1em 1.25em;
    padding: 3em 0 2em 2.25em; */
    /* padding-top: 35px;
     */
     /* height: 100%; */
     left: -13px;
}
.threadline:hover{
  border-right: 2px solid var(--newCommunityTheme-button);
}
.ui.threaded.comments .comment .comments{

    box-shadow:none !important;

}
.ui.comments .comment{
  position: static !important;
}
.ui.comments .comment .avatar~.content {
  margin-left: 3.5em;

}
.expand_wu span.expand{
  color:var( --newCommunityTheme-linkText);
}
.expand_wu{
  width: 12px;
  height: 12px;
  display: inline-block;
  margin:0 17px;
  line-height: 12px;
  
  /* margin-right: ; @@@ */
}
